<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title>$title$</title>
  <link href="media/$web-style$-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/$print-style$-print.css" type="text/css" rel="stylesheet" media="print">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
  <div id="main">
    <div id="content">

<h1 id="hugues-wattez">Hugues Wattez</h1>
<p>Chercheur postdoctoral, LIX CNRS, École Polytechnique, Institut Polytechnique de Paris, France.</p>
<div id="webaddress">
  <p>
    <div>Maison des étudiants de l’Asie du Sud-Est, Apt 202</div>
    <div>59 B boulevard Jourdan</div>
    <div>75014 Paris</div>
    <br>
    <div> <ion-icon name="mail-outline"></ion-icon> <a href="mailto:wattez@lix.polytechnique.fr">wattez@lix.polytechnique.fr</a> </div> <!--<div>
      <ion-icon name="link-outline"></ion-icon>
      <a target="_blank" href="http://www.cril.univ-artois.fr/~wattez">www.cril.univ-artois.fr/~wattez</a>
    </div>--> 
    <div> <ion-icon name="globe-outline"></ion-icon> <a target="_blank" href="https://hwattez.github.io">https://hwattez.github.io</a> </div> 
    <div> <ion-icon name="calendar-number-outline"></ion-icon> 31/01/1995 </div>
  </p>
</div>
<!--## Biographie

Je suis en troisième année de doctorat (Informatique et Intelligence Artificielle) pour lequel j'étudie les __Solveurs de Contraintes Autonomes__ sous la supervision de *Frédéric Koriche*, *Christophe Lecoutre* et *Anastasia Paparrizou*.-->

<h2 id="formation">Expériences et Activités de Recherche</h2>
<p><code>02/2022 à <br> maintenant</code> <strong>Postdoc</strong></p>
<p>
  <ul>
    <li>— Contrat postdoctoral sur l'<i>acquisition de contraintes</i> (en lien avec la partie industrielle et confidentielle de ce contrat) et l'<i>hybridation de techniques de résolution</i> des solveurs de contraintes et des solveurs d'optimisation mathématiques</li>
    <li>— Réalisé au Laboratoire Informatique de l'X (LIX CNRS, École Polytechnique, Institut Polytechnique de Paris, France) au sein de l'équipe OptimiX</li>
    <li>— Encadré par Claudia d'Ambrosio, Leo Liberti et Sonia Vanier</li>
  </ul>
</p>
<p><code>10/2021 à <br> 01/2022</code> <strong>Attaché Temporaire d'Enseignement et de Recherche (ATER)</strong></p>
<p>
  <ul>
    <li>— Exercé à l'IUT de Lens, France</li>
    <li>— Lié au Centre de Recherche en Informatique de Lens (CRIL UMR 8188, Université d'Artois et CNRS, Lens, France)</li>
  </ul>
</p>
<p><code>10/2018 à <br> 09/2021</code> <strong>Doctorat</strong></p>
<p>
  <ul>
    <li>— Doctorat intitulé <i>Solveurs de contraintes autonomes</i></li>
    <li>— Préparé au Centre de Recherche en Informatique de Lens (CRIL UMR 8188, Université d'Artois et CNRS, Lens, France)</li>
    <li>— Sous la direction de Frédéric Koriche (Université d'Artois) et Christophe Lecoutre (Université d'Artois) et co-encadré par Anastasia Paparrizou (CNRS)</li>
    <li>— Jury composé de Marie-José Huguet (présidente, INSA, Toulouse), Thomas Schiex (rapporteur, INRAE, MIA, Toulouse), Cyril Terrioux (rapporteur, Université d’Aix-Marseille) et Rémy Bardenet (examinateur, Université de Lille)</li>
    <li>— Mémoire : <a href="https://hal-univ-artois.archives-ouvertes.fr/tel-03648917/file/these_light.pdf" target="_blank">https://hal-univ-artois.archives-ouvertes.fr/tel-03648917/file/these_light.pdf</a></li>
  </ul>
</p>
<p><code>04/2018 à <br> 09/2018</code> <strong>Stage de Master</strong></p>
<p>
  <ul>
    <li>— Stage de Master intitulé <i>Solveurs de contraintes autonomes</i></li>
    <li>— Réalisé au Centre de Recherche en Informatique de Lens (CRIL UMR 8188, Université d'Artois et CNRS, Lens, France)</li>
    <li>— Encadré par Frédéric Koriche (Université d'Artois), Christophe Lecoutre (Université d'Artois) et Anastasia Paparrizou (CNRS)</li>
    <li>— Mémoire : <a href="https://hwattez.github.io/pdf/stage-m2.pdf" target="_blank">https://hwattez.github.io/pdf/stage-m2.pdf</a></li>
  </ul>
</p>
<p><code>04/2017 à <br> 06/2017</code> <strong>Travail d’Étude et de Recherche (TER) de Master</strong></p>
<p>
  <ul>
    <li>— Travail d’Étude et de Recherche sur la <i>Visualisation pour les applications de suivi des activités physiques et du sommeil</i></li>
    <li>— Réalisé au Centre de Recherche en Informatique de Lens (CRIL UMR 8188, Université d'Artois et CNRS, Lens, France)</li>
    <li>— Encadré par Karim Tabia (Université d'Artois)</li>
    <li>— Mémoire : <a href="https://hwattez.github.io/pdf/ter-m1.pdf" target="_blank">https://hwattez.github.io/pdf/ter-m1.pdf</a></li>
  </ul>
</p>

<h2 id="formation">Formation</h2>
<p><code>2018-2021</code> <strong>Doctorat en Intelligence Artificielle</strong></p>
<p>
  <ul>
    <li>— Soutenu le 9 décembre 2021</li>
    <li>— CRIL, Université d'Artois et CNRS, Lens, France</li>
  </ul>
</p>

<p><code>2016-2018</code> <strong>Master Informatique, Parcours Intelligence Artificielles</strong></p>
<p>
  <ul>
    <li>— Mention Assez Bien (Deuxième de promotion)</li>
    <li>— Université d'Artois (UFR des Sciences Jean Perrin), Lens, France</li>
  </ul>
</p>

<p><code>2015-2016</code> <strong>Licence Informatique</strong></p>
<p>
  <ul>
    <li>— Mention Bien (Troisième de promotion)</li>
    <li>— Université d'Artois (UFR des Sciences Jean Perrin), Lens, France</li>
  </ul>
</p>

<p><code>2013-2015</code> <strong>Diplôme Universitaire de Technologie Informatique</strong></p>
<p>
  <ul>
    <li>— Mention Bien (Major de promotion)</li>
    <li>— Université d'Artois (IUT), Lens, France</li>
  </ul>
</p>

<p><code>2012-2013</code> <strong>Baccalauréat Scientifique</strong></p>
<p>
  <ul>
    <li>— Spécialité Mathématiques</li>
    <li>— Mention Très Bien</li>
    <li>— Lycée Guy Mollet, Arras, France</li>
  </ul>
</p>

<h2 id="domaine">Domaine de Recherche</h2>

<p><code>Mots-clés</code><em>Intelligence Artificielle</em>, <em>Raisonnement Automatique</em>, <em>Algorithmes pour l’Inférence et Contraintes</em>, <em>Solveurs et Outils</em>, <em>Optimisation</em>, <em>Heuristique de Branchement</em>, <em>Apprentissage par Renforcement</em>, <em>Bandit Multi-Bras</em></p>

<p><code>Description</code>La programmation par contraintes est déclarative : l’utilisateur modélise le problème (sous forme de contraintes) sans se soucier de la partie résolution. La résolution est déléguée à un programme générique appelé solveur de contraintes.</p>

<p>Les solveurs de contraintes utilisent des mécanismes issus de l’intelligence artificielle pour guider ses choix (heuristiques), et pour réduire efficacement l’espace de recherche (inférence). Les solveurs de contraintes récents sont équipés de plusieurs heuristiques. Le choix de la meilleure heuristique pour résoudre une instance de problème donnée est actuellement délégué à l’utilisateur.</p>

<p><strong>Des heuristiques de branchement plus efficaces</strong></p>

<p>Il est bien connu que l’espace exploré durant la recherche peut drastiquement fluctuer selon l’ordre dans lequel les variables sont instanciées. En considérant que le parfait ordonnancement des variables résulterait en une recherche sans retour-arrière, la recherche d’heuristiques de choix de variables suscite toujours autant l’intérêt des chercheurs. Depuis quinze ans, l’approche basée sur la pondération des contraintes s’est toujours montrée efficace pour guider la recherche. Dans mes travaux, je propose une nouvelle heuristique de branchement générique se basant sur l'affinement des informations prélevées lorsque le solveur rencontre des conflits afin d'améliorer la sélection des variables les causant [$refs.hal-02414832$, $refs.hal-03449631$].</p>

<p><strong>Un gain d'autonomie des solveurs de contraintes</strong></p>

<p>Mes contributions tentent de rendre les solveurs de contraintes plus autonomes dans le but de soustraire toute charge cognitive à l’utilisateur concernant le processus de résolution. Pendant la recherche de solutions, le solveur redémarre régulièrement la recherche pour éviter les impasses coûteuses. C'est pourquoi il est intéressant de réfléchir à une politique capable de sélectionner automatiquement l’heuristique la plus prometteuse après chaque redémarrage.</p>

<p>En réponse à ce problème de choix séquentiel, mes travaux d'inspirent des politiques traitant du problème du bandit multi-bras. De telles politiques sont issues de l’apprentissage par renforcement et permettent d’explorer un ensemble d’actions tout en exploitant, le plus souvent possible, l’action la plus prometteuse.</p>

<p>À partir de ce framework basé sur les redémarrages du solveur et l'apprentissage par renforcement, plusieurs contributions sont proposées pour rendre les solveurs de contraintes modernes plus autonomes. De premières publications sont proposées où les politiques proposées dans la littérature sur les bandits multi-bras sont appliquées pour apprendre la meilleure heuristique parmi un ensemble d’heuristiques fournies par le solveur [$refs.hal-03096124$, $refs.hal-02414288$]. Sur la base de cette première application, nous proposons une nouvelle politique qui est plus cohérente avec la structure des solveurs actuels [$refs.hal-03096113$]. Toujours en utilisant des politiques de bandit, mes travaux proposent d’adapter la quantité d’aléa nécessaire pour perturber une heuristique donnée et la rendre plus efficace [$refs.hal-03678354$, $refs.hal-03449550$]. En perspective de ces précédents travaux, j'essaye d'étendre ces résultats aux solveurs de contraintes sous optimisation.</p>

<p><strong>Vers une généralisation du choix du paradigme de résolution</strong></p>

<p>En extension du gain d'autonomie au sein même des solveurs de contraintes, je propose des travaux préliminaires sur l'hybridation et la sélection en ligne du paradigme de résolution le plus efficace entre les solveurs de contraintes et les solveurs d'optimisation mathématique en nombres entiers. Mes travaux actuels se basent sur l'étude du problème de monoroutage [$refs.hal-03647245$, $refs.hal-03597206$]. En perspective de ces travaux, je suis intéressé par rendre générique cette méthode sur des benchmarks plus larges entre les solveurs pseudo-booléens et les solveurs d'optimisation mathématique en nombres entiers (ces deux paradigmes interprétant le même format d'instance en entrée).</p>

<h2 id="enseignements">Enseignements</h2>
<h3 id="supplément-doctoral-denseignement">Supplément doctoral d’enseignement et ATER</h3>
<p>Au cours de mes deux premières années de thèse et de mes quatres mois d'ATER, un total de 195,5 heures d'enseignement ont été dispensées à l’IUT de Lens. Le détail des heures par module, par TP et TD est détaillé ci-après.</p>
<br>
<p>
  <table>
    <tr>
      <th>Statut</th>
      <th>Année universitaire</th>
      <th>CM</th>
      <th>TD</th>
      <th>TP</th>
      <th>Total</th>
    </tr>
    <tr>
      <td>Supplément doctoral</td>
      <td>2018/2019</td>
      <td>0</td>
      <td>25,5</td>
      <td>38,5</td>
      <td>64</td>
    </tr>
    <tr>
      <td>Supplément doctoral</td>
      <td>2019/2020</td>
      <td>0</td>
      <td>34</td>
      <td>30</td>
      <td>64</td>
    </tr>
    <tr>
      <td>ATER</td>
      <td>2021/2022</td>
      <td>0</td>
      <td>28,5</td>
      <td>39</td>
      <td>67,5</td>
    </tr>
  </table>
</p>
<br>

<p>La description des enseignements qui suivent est détaillée sur le <em>Programme Pédagogique National des DUT INFORMATIQUE</em> : <a target="_blank" href="https://www.enseignementsup-recherche.gouv.fr/sites/default/files/content_migration/document/informatique_157826.pdf">https://www.enseignementsup-recherche.gouv.fr</a>.</p>

<p><code>DUT1-INFO</code> <strong>Introduction au développement algorithmique</strong></p>
<p>
  <ul>
    <li>— Public : Première année de DUT Informatique à l'IUT de Lens (Université d'Artois), avec deux groupes de 15 étudiants</li>
    <li>— Contenu Pédagogique : Travaux Pratiques (39h) initiant aux structures algorithmiques fondamentales (séquence, choix, itération, etc.), aux notions de type et sous-programmes (fonction, procédure, méthode, paramètres, etc.) de qualité (assertions, pré et post-conditions, etc.) ; implantation en Python</li>
    <li>— Période : Année universitaire 2021/2022</li>
  </ul>
</p>

<p><code>DUT1-INFO</code> <strong>Introduction aux systèmes informatiques</strong></p>
<p>
  <ul>
    <li>— Public : Première année de DUT Informatique à l'IUT de Lens (Université d'Artois), avec un groupe de 30 étudiants et deux groupes de 15 étudiants</li>
    <li>— Contenu Pédagogique : Travaux Pratiques (9h) et Travaux Dirigés (4,5h) initiant au codage de l'information (représentation des nombres, arithmétique, codage des caractères, etc.), aux éléments logiques (algèbre de Boole, circuit logique, etc.), à la gestion des fichiers et l'usage de commandes shell</li>
    <li>— Période : Année universitaire 2019/2020</li>
  </ul>
</p>

<p><code>DUT1-INFO</code> <strong>Conception de documents et d’interfaces numériques</strong></p>
<p>
  <ul>
    <li>— Public : Première année de DUT Informatique à l'IUT de Lens (Université d'Artois), avec un groupe de 30 étudiants et deux groupes de 15 étudiants</li>
    <li>— Contenu Pédagogique : Travaux Pratiques (33,5h) et Travaux Dirigés (16,5h) initiant aux langages de description et de mise en page basés sur des balises (HTML5, CSS3, Bootstrap, etc.)</li>
    <li>— Période : Année universitaire 2018/2019</li>
  </ul>
</p>

<p><code>DUT1-INFO</code> <strong>Introduction aux IHM</strong></p>
<p>
  <ul>
    <li>— Public : Première année de DUT Informatique à l'IUT de Lens (Université d'Artois), avec un groupe de 15 étudiants</li>
    <li>— Contenu Pédagogique : Travaux Pratiques (21h) initiant aux interactions homme-machine avec l'étude de la bibliothèque PyQT en Python ; le but est de reproduire le jeu <i>Bomberman</i></li>
    <li>— Période : Année universitaire 2019/2020</li>
  </ul>
</p>

<p><code>DUT2-INFO</code> <strong>Programmation web</strong></p>
<p>
  <ul>
    <li>— Public : Deuxième année de DUT Informatique à l'IUT de Lens (Université d'Artois), avec un groupe de 30 étudiants</li>
    <li>— Contenu Pédagogique : Travaux Dirigés (28,5h) initiant à la génération dynamique de contenu accessible par le Web, aux notions de suivi de session et aux connexions aux bases de données</li>
    <li>— Période : Année universitaire 2021/2022</li>
  </ul>
</p>

<p><code>DUT2-INFO</code> <strong>Conception et programmation objet avancées</strong></p>
<p>
  <ul>
    <li>— Public : Deuxième année de DUT Informatique à l'IUT de Lens (Université d'Artois), avec un groupe de 30 étudiants</li>
    <li>— Contenu Pédagogique : Travaux Dirigés (29,5h) sur l'approfondissement des notions permettant la réutilisation (héritage, interface,
      paquetage, généricité, etc.) par l'usage de patrons de conception</li>
    <li>— Période : Année universitaire 2019/2020</li>
  </ul>
</p>

<p><code>DUT1-MMI</code> <strong>Réseaux</strong></p>
<p>
  <ul>
    <li>— Public : Première année de DUT Métiers du Multimédia et de l'Internet à l'IUT de Lens (Université d'Artois), avec un groupe de 30 étudiants</li>
    <li>— Contenu Pédagogique : Travaux Pratiques (9h) initiant à l'utilisation d'applications réseau : messagerie, transfert de fichiers (FTP, HTTP), telnet, protocole ssh, etc.</li>
    <li>— Période : Année universitaire 2018/2019</li>
  </ul>
</p>

<p><code>DU-Tremplin</code> <strong>Introduction aux systèmes informatiques</strong></p>
<p>
  <ul>
    <li>— Public : Première année de DU Tremplin à l'IUT de Lens (Université d'Artois), avec un groupe de 30 étudiants</li>
    <li>— Contenu Pédagogique : Travaux Dirigés (5h) initiant des étudiants rencontrant des difficultés dans leur première année de licence ou DUT à une approche visant à leur permettre de poursuivre des études ; ici, par l'introduction aux systèmes informatique comme décrit plus haut</li>
    <li>— Période : Année universitaire 2018/2019</li>
  </ul>
</p>

<h3 id="encadrement-de-stage">Encadrement de Stage</h3>
<p><code>04/2022 à <br> 08/2022</code> <strong>Stage de Recherche</strong> Accompagnement d'un étudiant en 3è année du Cycle Ingénieur Polytechnicien (Institut Polytechnique de Paris, France) sur un sujet annexe à mon sujet de postdoc (confidentiel).</p>
<p><code>04/2019 à <br> 06/2019</code> <strong>Travail d’Étude et de Recherche (TER)</strong> Accompagnement d'un étudiant en Master 1 Informatique (Université d'Artois, Lens, France) au sujet de l'implantation d’un outil permettant d’automatiser l’analyse de résultats expérimentaux.</p>

<h3 id="concours-algorithmiques">Concours Algorithmique</h3>

<p><code>L3-M1-M2-INFO</code> <strong>Entraînements pour la participation au SWERC (“Southwestern Europe Regional Contest”) </strong> Coach pour les étudiants participant à la compétition de programmation SWERC : organisation de séances d’entraînement chaque jeudi après-midi, comportant des tutoriels d’algorithmique et des simulations de compétitions pour les étudiants en troisième année de Licence Informatique et en 
Master Informatique à l’UFR des Sciences Jean Perrin (Université d’Artois).</p>

<h2 id="comité-dorganisation">Animations et Responsabilités Collectives</h2>

<p><code>2019 et 2021</code> Organisation de <strong>compétitions de programmation</strong> pour les étudiants en troisième année de Licence Informatique à l’UFR des Sciences Jean Perrin (Université d’Artois) : préparation de la compétition les quinze jours la précédant, mise en place de la compétition sur deux jours, avec une journée dédiée à l’entraînement et une journée dédiée à la compétition, choix de sujets avec implantation de leur correction, organisation d’une remise de diplôme lors d’une cérémonie de clôture. En collaboration avec deux autres doctorants.</p>

<p><code>2019</code> Organisation des <strong>Journées Des Doctorants (JDD)</strong> du Centre de Recherche en Informatique de Lens (CRIL) à Ostende (Belgique), à raison d’une à deux jours par semaine pendant un mois : choix et réservation du lieu du séminaire, collecte des sujets présentés par les doctorants, organisation d’un planning sur deux jours avec repas, pauses café et nuit à l’hôtel. En collaboration avec un permanent du laboratoire et un autre doctorant.</p>

<p><code>2018</code> Participation à l'organisation de <strong>The 24th International Conference on Principles and Practice of Constraint Programming (CP'18)</strong> à Lille (France). Pendant cinq jours, il s'agissait d'accueillir les participants à la conférence, de répondre aux questions d'organisation et de participer aux tâches techniques des sessions.</p>

<h2 id="présentations">Éléments de Visibilité</h2>
<p><code>2022</code> Présentation de l’article <strong>Best Heuristic Identification for Constraint Satisfaction</strong> [$refs.hal-03678354$] lors de la <em>31st International Joint Conference on Artificial Intelligence (IJCAI’22)</em></p>
<p><code>2022</code> Présentation de l’article <strong>Exploring AI approaches to improve the resolution of unsplittable multicommodity flow problems in wireless networks</strong> [$refs.hal-03647245$] lors de la <em>39th Spanish Conference on Statistics and Operation Research (SEIO’22)</em></p>
<p><code>2022</code> Tutoriel sur <strong>Extraction, analyse et reproductibilité de campagnes expérimentales avec l’outil Metrics</strong> [$refs.hal-03595329$, $refs.hal-03295285$] lors de la <em>Plate-Forme Intelligence Artificielle (PFIA'22)</em></p>
<p><code>2022</code> Présentation de l’article <strong>Best Heuristic Identification for Constraint Satisfaction</strong> [$refs.hal-03678354$] lors de la <em>Conférence Nationale en Intelligence Artificielle (CNIA'22)</em></p>
<p><code>2022</code> Présentation de l’article <strong>Exploration des approches de l’IA pour renforcer la résolution des problèmes de multiflots entiers dans les réseaux énergétiques</strong> [$refs.hal-03597206$] lors de la <em>23è Conférence ROADEF de la Société Française de Recherche Opérationnelle et d’Aide à la Décision (ROADEF’22)</em></p>
<p><code>2022</code> Séminaire tutoriel sur la <strong>Programmation par Contraintes</strong> au sein de <em>Équipe Optimix - LIX, Paris, France</em></p>
<p><code>2021</code> Présentation du sujet <strong>Solveurs de Contraintes Autonomes</strong> [$refs.tel-03648917$] lors de ma <em>Soutenance de Thèse</em></p>
<p><code>2021</code> Présentation de l’article <strong>Focus sur les heuristiques basées sur la pondération de contraintes</strong> [$refs.hal-03449631$] lors des <em>16es Journées Francophones de Programmation par Contraintes (JFPC’21)</em></p>
<p><code>2021</code> Présentation de l’article <strong>Perturbation des heuristiques de branchement dans la résolution de contraintes</strong> [$refs.hal-03449550$] lors des <em>16es Journées Francophones de Programmation par Contraintes (JFPC’21)</em></p>
<p><code>2020</code> Deux Séminaires <strong>Metrics: Towards a Unified Library for Experimenting Solvers</strong> [$refs.hal-03301303$] au sein du <em>CRIL, Lens, France</em></p>
<p><code>2020</code> Présentation de l’article <strong>Metrics: Towards a Unified Library for Experimenting Solvers</strong> [$refs.hal-03301303$] lors de <em>the 11th International Workshop on Pragmatics of SAT (POS’20)</em></p>
<p><code>2020</code> Présentation de l’article <strong>Learning Variable Ordering Heuristics with Multi-Armed Bandits and Restarts</strong> [$refs.hal-03096124$] lors de <em>the 24th European Conference on Artificial Intelligence (ECAI’20)</em></p>
<p><code>2020</code> Présentation de l’article <strong>Perturbing Branching Heuristics in Constraint Solving</strong> [$refs.hal-03096113$] lors de <em>the 26th International Conference on Principles and Practice of Constraint Programming (CP’20)</em></p>
<p><code>2019</code> Présentation de l’article <strong>Refining Constraint Weighting</strong> [$refs.hal-02414832$] lors de <em>the 31st International Conference on Tools with Artificial Intelligence (ICTAI’19)</em></p>
<p><code>2019</code> Présentation de l’article <strong>Heuristiques de Recherche : un Bandit pour les Gouverner Toutes</strong> [$refs.hal-02414288$] lors des <em>15es Journées Francophones de Programmation par Contraintes (JFPC’19)</em></p>
<p><code>2018</code> Séminaire invité sur <strong>Heuristiques de Recherche et Bandits Multi-Bras</strong> [$refs.hal-02414288$] au sein de <em>Équipe Coconut - LIRMM, Montpellier, France</em></p>

<h2 id="publications">Publications</h2>

<p>Les articles de conférences et workshops présentées ci-après ont tous été soumis à un comité de lecture. Les conférences les plus reconnues par la communauté de la programmation par contraintes correspondent à la conférence CP (<em>International Conference on Principles and Practice of Constraint Programming</em>, rang A selon <em>CORE2021</em>), qui est la principale conférence spécialisée du domaine, et la conférence IJCAI (<em>International Joint Conference on Artificial Intelligence</em>, rang A* selon <em>CORE2021</em>), qui est l’une des plus importantes conférences généralistes en intelligence artificielle. D'autres conférences ont aussi un grand intérêt lors de publications dans le domaine la programmation par contraintes telles que ECAI (<em>European Conference on Artificial Intelligence</em>, rang A selon <em>CORE2021</em>) et ICTAI (<em>International Conference on Tools with Artificial Intelligence</em>, rang B selon <em>CORE2021</em>).</p>

<h3 id="conférences-internationales">Conférences Internationales</h3>

$for(conf_int)$
<p>
  <code>$conf_int.publicationDateY_i$</code>
  [$conf_int.n$] <strong>$conf_int.title_s$</strong>
</p>
<p>
  <ul>
    <li>— Auteurs : $for(conf_int.authFullName_s)$$conf_int.authFullName_s$, $endfor$ </li>
    <li>— Conférence : $conf_int.conferenceTitle_s$</li>
    $if(conf_int.doiId_s)$<li>— DOI : <a href="https://doi.org/$conf_int.doiId_s$" target="_blank">https://doi.org/$conf_int.doiId_s$</a></li>$endif$ 
    $if(conf_int.uri_s)$<li>— Dépôt HAL : <a href="$conf_int.uri_s$" target="_blank">$conf_int.uri_s$</a></li>$endif$ 
  </ul>
</p>
$endfor$

<h3 id="conférences-nationales">Conférences Nationales</h3>

$for(conf_nat)$
<p>
  <code>$conf_nat.publicationDateY_i$</code>
  [$conf_nat.n$]
  <strong>$conf_nat.title_s$</strong>
</p>
<p>
  <ul>
    <li>— Auteurs : $for(conf_nat.authFullName_s)$$conf_nat.authFullName_s$, $endfor$ </li>
    <li>— Conférence : $conf_nat.conferenceTitle_s$</li>
    $if(conf_nat.uri_s)$<li>— Dépôt HAL : <a href="$conf_nat.uri_s$" target="_blank">$conf_nat.uri_s$</a></li>$endif$ 
  </ul>
</p>
$endfor$

<h3 id="ateliers-internationaux">Ateliers Internationaux</h3>

$for(workshops)$
<p>
  <code>$workshops.publicationDateY_i$</code>
  [$workshops.n$]
  <strong>$workshops.title_s$</strong>
</p>
<p>
  <ul>
    <li>— Auteurs : $for(workshops.authFullName_s)$$workshops.authFullName_s$, $endfor$ </li>
    <li>— Conférence : $workshops.conferenceTitle_s$</li>
    $if(workshops.uri_s)$<li>— Dépôt HAL : <a href="$workshops.uri_s$" target="_blank">$workshops.uri_s$</a></li>$endif$ 
  </ul>
</p>
$endfor$

<h3 id="manuscrits">Manuscrits</h3>

$for(others)$
<p>
  <code>$others.publicationDateY_i$</code>
  [$others.n$]
  <strong>$others.title_s$</strong>
</p>
<p>
  <ul>
    <li>— Auteur : $for(others.authFullName_s)$$others.authFullName_s$ $endfor$ </li>
    $if(others.uri_s)$<li>— Dépôt HAL : <a href="$others.uri_s$" target="_blank">$others.uri_s$</a></li>$endif$ 
  </ul>
</p>
$endfor$

<h3 id="manuscrits">Une sélection de travaux</h3>
<p>
  Parmi l'ensemble de ces travaux, je propose une sous-sélection de trois articles. Il s'agit du cheminement logique depuis la création d'une heuristique de branchement [$refs.hal-02414832$] pour le domaine de la programmation par contraintes, en passant par l'amélioration, de façon générique, des heuristiques de branchement de l'état de l'art du domaine grâce à l'ajout d'aléa [$refs.hal-03096113$] jusqu'à la sélection automatique de la meilleure heuristique parmi un ensemble d'heuristiques pendant la résolution d'une instance grâce à l'apprentissage par renforcement [$refs.hal-03678354$].
</p>


<h2 id="production-logicielle">Production Logicielle</h2>
<p><code>ACE</code> J'ai contribué au solveur de contraintes ACE (<a target="_blank" href="https://gitlab.com/productions-hwattez/solveurs-de-contraintes-autonomes/doctorat/ace">https://gitlab.com/productions-hwattez/solveurs-de-contraintes-autonomes/doctorat/ace</a>), avec l’intégration de l'ensemble de mes travaux de thèse [$refs.hal-03678354$,$refs.hal-03096113$,$refs.hal-03096124$,$refs.hal-02414832$,$refs.hal-03449631$,$refs.hal-03449550$,$refs.hal-02414288$,$refs.hal-03749141$,$refs.tel-03648917$,$refs.hal-03625476$]. Cette instance du solveur permet notamment de reproduire l'ensemble des expérimentations de thèse, de les analyser et de produire les figures apparaissant dans le manuscrit de thèse (<a target="_blank" href="https://gitlab.com/productions-hwattez/solveurs-de-contraintes-autonomes/doctorat/experimentations">https://gitlab.com/productions-hwattez/solveurs-de-contraintes-autonomes/doctorat/experimentations</a>).</p>
<p><code>Metrics</code> J’ai participé à la conception de la bibliothèque open-source Metrics [$refs.hal-03595329$, $refs.hal-03295285$], conçue pour faciliter l’analyse de résultats expérimentaux (<a href="https://github.com/crillab/metrics">https://github.com/crillab/metrics</a>). En particulier, cette bibliothèque propose une chaîne d’outils complète, permettant d’extraire les données à partir des fichiers de log produits par les solveurs (indépendamment du format utilisé par ceux-ci), puis de les charger en mémoire pour ensuite tracer des figures couramment utilisées dans la communauté pour analyser les performances de solveurs (entre autres : boîtes à moustaches, scatter plots, cactus plots ou CDF).</p>







<h2 id="archives">Archives</h2>
<p><code>Site Web</code> <a href="old/home/">Lien</a> vers le précédent site internet recensant les travaux pré-doctoraux</p>
<!-- Last updated: June 2021 -->
    </div>
  </div>
</body>
</html>
